/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/led/led.h>

#define DVORAK  0
#define NUMBER  1
#define MOVE    2
#define MOBA    3
#define SHOOT   4
#define G_NUM   5
#define KB_SET  6
#define OS_SET  7

&spi1 {
  compatible = "nordic,nrf-spim";
  status = "okay";
  mosi-pin = <6>;
  sck-pin = <5>;
  miso-pin = <7>;
  led_strip: ws2812@0 {
    compatible = "worldsemi,ws2812-spi";
    label = "SK6812mini";
    /* SPI */
    reg = <0>;/* ignored, but necessary for SPI bindings */
    spi-max-frequency = <4000000>;
    /* WS2812 */
    chain-length = <27>;/* There are per-key RGB, but the first 6 are underglow */
    spi-one-frame = <0x70>;
    spi-zero-frame = <0x40>;
    color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
  };
};

/ {
  chosen {
    zmk,underglow = &led_strip;
  };
};

&mt {
  tapping-term-ms = <400>;
};

/ {
  macros {
    paste: paste {
      compatible = "zmk,behavior-macro";
      label = "Paste Macro";
      #binding-cells = <0>;
      bindings =
        <&macro_press &kp LEFT_SHIFT>,
        <&macro_tap &kp INSERT>,
        <&macro_release &kp LEFT_SHIFT>;
    };
    copy: copy {
      compatible = "zmk,behavior-macro";
      label = "Copy Macro";
      #binding-cells = <0>;
      bindings =
        <&macro_press &kp RCTRL>,
        <&macro_tap &kp C>,
        <&macro_release &kp RCTRL>;
    };
    cut: cut {
      compatible = "zmk,behavior-macro";
      label = "Cut Macro";
      #binding-cells = <0>;
      bindings =
        <&macro_press &kp RIGHT_CONTROL>,
        <&macro_tap &kp X>,
        <&macro_release &kp RCTRL>;
    };
    undo: undo {
      compatible = "zmk,behavior-macro";
      label = "Undo Macro";
      #binding-cells = <0>;
      bindings =
        <&macro_press &kp RIGHT_CONTROL>,
        <&macro_tap &kp Z>,
        <&macro_release &kp RCTRL>;
    };
    redo: redo {
      compatible = "zmk,behavior-macro";
      label = "Redo Macro";
      #binding-cells = <0>;
      bindings =
        <&macro_press &kp RIGHT_CONTROL &kp LEFT_SHIFT>,
        <&macro_tap &kp Z>,
        <&macro_release &kp LEFT_SHIFT &kp RCTRL>;
    };
    topline: topline {
      compatible = "zmk,behavior-macro";
      label = "Top Macro";
      #binding-cells = <0>;
      bindings = 
        <&macro_tap &kp T &kp O &kp P &kp RET>;
    };
    jgline: jgline {
      compatible = "zmk,behavior-macro";
      label = "Jg Macro";
      #binding-cells = <0>;
      bindings =
        <&macro_tap &kp J &kp G &kp RET>;
    };
    midline: midline {
      compatible = "zmk,behavior-macro";
      label = "Mid Macro";
      #binding-cells = <0>;
      bindings =
        <&macro_tap &kp M &kp I &kp D &kp RET>;
    };
    adcline: adcline {
      compatible = "zmk,behavior-macro";
      label = "Adc Macro";
      #binding-cells = <0>;
      bindings =
        <&macro_tap &kp A &kp D &kp C &kp RET>;
    };
    supline: supline {
      compatible = "zmk,behavior-macro";
      label = "Sup Macro";
      #binding-cells = <0>;
      bindings =
        <&macro_tap &kp S &kp U &kp P &kp RET>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    DVORAK {
      bindings = <
    &sk LCTRL        &kp APOSTROPHE  &kp COMMA  &kp DOT       &kp P       &kp Y        &kp F          &kp H     &kp K     &kp J     &kp L   &sk LALT
    &kp TAB          &kp I           &kp O      &kp E         &kp A       &kp U        &kp D          &kp R     &kp T     &kp N     &kp S    &kp DEL
    &lt KB_SET BSLH  &kp Z           &kp Q      &kp G         &kp C       &kp X        &kp B          &kp V     &kp W     &kp M  &kp SEMI  &kp SLASH
                                                &mt LGUI ESC  &mo NUMBER  &kp SPACE    &mt LSHFT RET  &mo MOVE  &kp BSPC
      >;
    };

    NUMBER {
      bindings = <
    &trans  &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT    &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &trans
    &trans  &kp N1     &kp N2     &kp N3     &kp N4     &kp N5       &kp N6     &kp N7    &kp N8           &kp N9    &kp N0    &trans
    &trans  &kp EQUAL  &kp GRAVE  &kp TILDE  &kp UNDER  &kp MINUS    &kp PLUS   &kp LBKT  &kp LBRC         &kp RBRC  &kp RBKT  &trans
                                  &trans     &trans     &trans       &trans     &kp LGUI  &trans
      >;
    };

    MOVE {
      bindings = <
    &trans  &none     &none      &none      &paste    &copy     &none   &kp LEFT  &kp UP  &kp DOWN  &kp RIGHT  &trans
    &trans  &kp HOME  &kp PG_DN  &kp PG_UP  &kp END   &undo     &cut    &redo     &none   &none     &kp PSCRN  &trans
    &kp F1  &kp F2    &kp F3     &kp F4     &kp F5    &kp F6    &kp F7  &kp F8    &kp F9  &kp F10   &kp F11    &kp F12
                                 &trans     &kp LGUI  &trans    &trans  &trans    &trans
      >;
    };

    MOBA {
      bindings = <
    &kp P       &kp N1  &kp N2  &kp N3   &kp D      &kp G        &none       &none    &none     &none     &none     &trans
    &kp TAB     &kp Q   &kp W   &kp E    &kp R      &kp T        &topline    &jgline  &midline  &adcline  &supline  &kp DEL
    &mo KB_SET  &kp B   &kp N5  &kp N6   &kp F      &kp N4       &none       &none    &none     &none     &none     &sk LALT
                                &kp ESC  &kp LCTRL  &kp SPACE    &kp RETURN  &mo 3    &kp BSPC
      >;
    };

    SHOOTER {
      bindings = <
    &kp ESC       &kp Q   &kp W   &kp E   &kp R      &kp T        &kp Y       &kp U  &kp I      &kp O    &kp P     &kp DEL
    &kp TAB       &kp A   &kp S   &kp D   &kp F      &kp G        &kp H       &kp J  &kp K      &kp L    &kp SEMI  &sk LALT
    &lt KB_SET M  &kp Z   &kp X   &kp C   &kp V      &kp B        &kp N       &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp SLASH
                                  &kp N2  &mo G_NUM  &kp SPACE    &kp RETURN  &mo 3  &kp BSPC
      >;
    };

    GAME_NUMBERS{
      bindings = <
    &kp LGUI  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &trans
    &trans    &kp N6  &kp N7  &kp N8  &kp N9  &kp N0       &kp N6    &kp N7    &kp N8    &kp N9    &kp N0    &trans
    &trans    &kp I   &kp P   &kp O   &kp P   &kp I        &kp PLUS  &kp LBKT  &kp LBRC  &kp RBRC  &kp RBKT  &trans
                              &trans  &trans  &trans       &trans    &kp LGUI  &trans
      >;
    };

    KB_SETTINGS {
      bindings = <
    &out OUT_TOG     &rgb_ug RGB_HUI  &none  &bt BT_NXT  &rgb_ug RGB_BRD  &rgb_ug RGB_BRI    &none         &none         &none         &none         &none         &none
    &rgb_ug RGB_TOG  &rgb_ug RGB_HUD  &none  &bt BT_CLR  &kp C_BRI_DN     &kp C_BRI_UP       &none         &kp C_PREV    &kp C_PP      &kp C_STOP    &kp C_NEXT    &none
    &trans           &rgb_ug RGB_EFF  &none  &bt BT_PRV  &kp C_VOL_DN     &kp C_VOL_UP       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
                                             &tog MOBA   &to DVORAK       &tog SHOOT         &none         &none         &none
      >;
    };
  };
};
